{% load static %}
<div class="header-container">
  <div class="header-top-container">
    <div class="header-top-left">
      <a
        href="https://tap.az/?utm_source=turboaz&utm_medium=desktop-nav&utm_campaign=only-logo#_gl=1*13spubz*_ga*MTk3MDc0MzgzLjE3MDczNzk1OTY.*_ga_68B6PJZXYD*MTcwNzM3OTU5Ny4xLjEuMTcwNzM4MDEyOC4zNy4wLjA."
        >Tap.az</a
      >
      <a
        href="https://bina.az/?utm_source=turboaz&utm_medium=desktop-nav&utm_campaign=only-logo#_gl=1*13spubz*_ga*MTk3MDc0MzgzLjE3MDczNzk1OTY.*_ga_68B6PJZXYD*MTcwNzM3OTU5Ny4xLjEuMTcwNzM4MDEyOC4zNy4wLjA."
        >Bina.az</a
      >
      <a
        href="https://boss.az/?utm_source=turboaz&utm_medium=desktop-nav&utm_campaign=only-logo#_gl=1*1tanf9x*_ga*MTk3MDc0MzgzLjE3MDczNzk1OTY.*_ga_68B6PJZXYD*MTcwNzM3OTU5Ny4xLjEuMTcwNzM4MDEyOC4zNy4wLjA."
        >Boss.az</a
      >
    </div>
    <div class="header-top-right">
      <p>Dəstək:(XXX) XXX-XX-XX</p>
      <a href="">Yardım</a>
      <a href="">RU</a>
      <a href="" class="heart-icon">
        <img src="{% static 'cars/assets/heart-icon.png' %}" alt="heart-icon" />
        <p>Seçilmişlər</p>
      </a>
      <a href="" class="profile-icon">
        <img
          src="{% static 'cars/assets/profile-icon.png' %}"
          alt="profile-icon"
        />
        <p>Giriş</p>
      </a>
    </div>
  </div>
  <div class="header-bottom-container">
    <div class="header-bottom-left">
      <a href="">TURBO.AZ</a>
      <a href="">Bütün elanlar</a>
      <a href="">Salonlar</a>
      <a href="">Moto</a>
      <a href="">Ehtiyyat hissələr və aksesuarlar</a>
      <a href="">İcarə</a>
    </div>
    <a href="" class="header-bottom-right">
      <img src="{% static 'cars/assets/plus-icon.png' %}" alt="plus-icon" />
      <p>Yeni elan</p>
    </a>
  </div>
</div>
